<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>logini</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../../css/reset.css" />
	<link rel="stylesheet" href="login.css" />
</head>
<body>
  <div class="login">
    <div class="top">
        <a href="#"><img src="../../images/login/i1@3x.png" /></a>
        <a href="#"><span class="top-cancel">取消</span></a>
        <h3>个人登录</h3>
    </div>
    <div class="main">
        <div class="main-img">
           <img src="../../images/login/i2@3x.png" alt="">
        </div>
        <div class="info">
           <div class="">
               <span class="use"></span>
               <input type="text" name="username" placeholder="请输入手机号/邮箱" />
           </div>
           <div class="">
               <span class="pwd"></span>
               <input type="password" neme="password" placeholder="密码" />
           </div>  
           <div class="btn">登陆</div>
           <div class="contr">
               <span class="forget fl">忘记密码</span>
               <span class="verity fr">使用验证码登录</span>
           </div>
        </div>
    </div>
    <div class="link">
         <div class="font">
            <div>
              <span></span>
              <span class="other">其他方式登录</span>
              <span></span>
            </div>
         </div>
         <div class="link-icon">
             <ul>
               <li><a href=""><img src="../../images/login/qq@3x.png" alt=""></a></li>
               <li><a href=""><img src="../../images/login/sina@3x.png" alt=""></a></li>
               <li><a href=""><img src="../../images/login/wechat@3x.png" alt=""></a></li>
             </ul>
         </div>
    </div>

  </div>

	
</body>

</html>
