<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>resume</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../../css/reset.css" />
	<link rel="stylesheet" href="resume.css" />
</head>
<body>
    <div class="resume">
         <div class="head">
              <div class="set fr">
                  <a href="">
                     <img src="../../images/resume/d1@3x.png" alt="">
                  </a>       
              </div>
              <div class="head-img">
                   <img src="../../images/resume/d2@3x.png" alt="">
              </div>
         </div>

         <div class="main">
              <div class="content-list first">
                  <i></i>
                  <h4>基本信息</h4>
                  <div>
                     <p>姓名:<span>至尊宝</span></p>
                     <p>性别:<span>男</span></p>
                     <p>年龄:<span>27</span></p>
                     <p>地区:<span>广东广州</span></p>
                     <p>学历:<span>本科</span></p>
                     <p>工作经验:<span>3年</span></p>
                     <p>联系电话:<span>88888888888</span></p>

                  </div>
              </div>
              <div class="content-list">
                  <i></i>
                  <h4>求职意向</h4>
                  <div>
                     <p>行业名称:<span>UI设计师</span></p>
                     <p>职位名称:<span>设计总监</span></p>
                     <p>月薪:<span>7000-10000/月</span></p>
                     <p>地区:<span>广东广州</span></p>

                  </div>
              </div>
              <div class="content-list last">
                  <i></i>
                  <h4>工作经历</h4>
                  <div>
                     <p>工作时间:<span>2013-2016年</span></p>
                     <p>工作单位:<span>广州先可思科技有限公司</span></p>
                     <p>月薪:<span>7000-10000/月</span></p>
                     <p>职位名称:<span>前端工程师</span></p>
                     <p>职位描述:<span>略</span></p>

                  </div>
              </div>
         </div>

<!-- 底部 -->
         <div class="bottom-nav">
             <ul>
             <li class="fl">
                 <a href="../../index.html">
                     <img src="../../images/common/a1@2x.png" alt="">
                 </a>
                 <h6>首页</h6>
             </li>
             <li class="fl">
                 <a href="../information-list/information-list.html">
                     <img src="../../images/common/a2@2x.png" alt="">
                 </a>
                 <h6>消息</h6>
             </li>
             <li class="fl">
                 <a href="../recruit/recruit.html">
                     <img src="../../images/common/a3@2x.png" alt="">
                 </a>
                 <h6>附近</h6>
             </li>
             <li class="fl">
                 <a href="./resume.html">
                     <img src="../../images/common/b4@2x.png" alt="">
                 </a>
                 <h6 class="avtive-color">简历</h6>
             </li>
             <li class="fl">
                 <a href="../user/user.html">
                     <img src="../../images/common/a5@2x.png" alt=""> 
                 </a>
                 <h6>我的</h6>
             </li>
         </ul>
         </div>	
    </div>

	
</body>
</script>
</html>
