<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../../css/reset.css" />
	<link rel="stylesheet" href="person-info.css" />
</head>
<body>
    <div class="person">
        <div class="head clear-float">
            <span class="l fl">
                <a href="">
                    <img src="../../images/person-information/c2@3x.png" />
                </a>
            </span>
            <h3 class="fl f-normal">个人信息</h4>
            <span class="r fr">
                <a href="">保存</a>
            </span>
        </div>
        <div class="content">
            <div class="content-list">
                  <i></i>
                  <h4>我的资料</h4>
                  <div>
                    <div class="port fr clear-float">
                       <img class="" src="../../images/person-information/c1@3x.png" />
                       <span>更换头像</span> 
                    </div>
                    <p>姓名:<span>至尊宝</span></p>
                    <p>性别:<span>男</span></p>
                    <p>民族:<span>汉</span></p>
                    <p>生日:<span>1995-08-07</span></p>
                    <p>学历:<span>本科</span></p>
                    <p>联系电话:<span>12345678901</span></p>
                    <p>邮箱:<span>13245@qq.com</span></p>

                  </div>
            </div>
            <div class="content-list">
                  <div>
                     <p>身高:<span>175cm</span></p>
                     <p>体重:<span>56kg</span></p>
                     <p>婚姻状况:<span>未婚</span></p>
                     <p>工作经验:<span>3年</span></p>
                     <p>身份证号:<span>***************</span></p>
                     <p>家庭地址:<span>广东省广州市天河区车陂街道8号</span></p>

                  </div>
            </div>
        </div>
    </div>

</body>
</script>
</html>
