<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>附近的招聘</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../../css/reset.css" />
	<link rel="stylesheet" href="recruit.css" />
</head>
<body>
   <div class="recruit">
        <div class="head">
             <h4 class="f-normal">附近的招聘</h4>
        </div>
<!-- main内容部分 -->
        <div class="content">
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b1@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">PHP工程师</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>本科</span></p>
                </div>
                <div class="remu fl">
                     <span>0.7-1万/月</span>
                </div>
            </div>
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b1@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">前端工程师</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>大专</span></p>
                </div>
                <div class="remu fl">
                     <span>0.6-1万/月</span>
                </div>
            </div>
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b1@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">UI设计师</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>本科</span></p>
                </div>
                <div class="remu fl">
                     <span>0.8-1万/月</span>
                </div>
            </div>
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b2@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">前台客服</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>大专</span></p>
                </div>
                <div class="remu fl">
                     <span>3-5千/月</span>
                </div>
            </div>
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b1@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">项目部经理</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>本科</span></p>
                </div>
                <div class="remu fl">
                     <span>0.7-1万/月</span>
                </div>
            </div>
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b1@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">保安人员</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>学历不限</span></p>
                </div>
                <div class="remu fl">
                     <span>2-3千/月</span>
                </div>
            </div>
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b1@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">淘宝天猫运营</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>大专</span></p>
                </div>
                <div class="remu fl">
                     <span>6-8千/月</span>
                </div>
            </div>
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b2@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">税务会计</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>大专</span></p>
                </div>
                <div class="remu fl">
                     <span>3-5千/月</span>
                </div>
            </div>
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b1@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">淘宝天猫运营</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>大专</span></p>
                </div>
                <div class="remu fl">
                     <span>6-8千/月</span>
                </div>
            </div>
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b2@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">税务会计</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>大专</span></p>
                </div>
                <div class="remu fl">
                     <span>3-5千/月</span>
                </div>
            </div>
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b1@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">淘宝天猫运营</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>大专</span></p>
                </div>
                <div class="remu fl">
                     <span>6-8千/月</span>
                </div>
            </div>
            <div class="content-list">
                <div class="icon fl">
                    <img src="../../images/recruit/b2@3x.png" alt="" />
                </div>
                <div class="intr fl">
                     <h5 class="">税务会计</h5>
                     <p>广州先可思科技有限公司</p>
                     <p>广州-天河区<span>大专</span></p>
                </div>
                <div class="remu fl">
                     <span>3-5千/月</span>
                </div>
            </div>
            <span>查看更多</span>
        </div>
<!-- 底部导航分 -->
        <div class="bottom-nav">
             <ul>
               <li class="fl">
                   <a href="../../index.html">
                       <img src="../../images/common/a1@2x.png" alt="">
                   </a>
                   <h6>首页</h6>
               </li>
               <li class="fl">
                   <a href="../information-list/information-list.html">
                       <img src="../../images/common/a2@2x.png" alt="">
                   </a>
                   <h6>消息</h6>
               </li>
               <li class="fl">
                   <a href="./recruit.html">
                       <img src="../../images/common/b3@2x.png" alt="">
                   </a>
                   <h6 class="avtive-color">附近</h6>
               </li>
               <li class="fl">
                   <a href="../resume/resume.html">
                       <img src="../../images/common/a4@2x.png" alt="">
                   </a>
                   <h6>简历</h6>
               </li>
               <li class="fl">
                   <a href="../user/user.html">
                       <img src="../../images/common/a5@2x.png" alt=""> 
                   </a>
                   <h6>我的</h6>
               </li>
             </ul>
        </div>
   </div>
	
</body>
</script>
</html>
