<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>information-list</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../../css/reset.css" />
	<link rel="stylesheet" href="information-list.css" />
</head>
<body>
   <div class="infor-list">
       <div class="head clear-float">
           <h4 class="f-normal">消息</h4>
       </div>


       <div class="content">
           <div class="content-list">
               <div>
                   <span class="icon fl clear-float"">
                        <img src="../../images/information-list/h1@3x.png" />
                   </span>
                   <div class="text fl clear-float">
                        <div class="com">广州先可思科技有限公司</div>
                        <span class="person">陈小姐</span>
                   </div>
                   <div class=fr>
                        <span>刚刚</span>
                        <i><img src="../../images/information-list/1@3x.png" /></i>
                   </div>
               </div>
           </div>
           <div class="content-list">
               <div>
                   <span class="icon fl clear-float"">
                        <img src="../../images/information-list/h1@3x.png" />
                   </span>
                   <div class="text fl clear-float">
                        <div class="com">广州先可思科技有限公司</div>
                        <span class="person">李小姐</span>
                   </div>
                   <div class=fr>
                        <span>刚刚</span>
                        <i><img src="../../images/information-list/2@3x.png" /></i>
                   </div>
               </div>
           </div>
           <div class="content-list">
               <div>
                   <span class="icon fl clear-float"">
                        <img src="../../images/information-list/h2@3x.png" />
                   </span>
                   <div class="text fl clear-float">
                        <div class="com">广州先可思科技有限公司</div>
                        <span class="person">孔经理</span>
                   </div>
                   <div class=fr>
                        <span>刚刚</span>
                        <i><img src="../../images/information-list/2@3x.png" /></i>
                   </div>
               </div>
           </div>
           <div class="content-list">
               <div>
                   <span class="icon fl clear-float"">
                        <img src="../../images/information-list/h1@3x.png" />
                   </span>
                   <div class="text fl clear-float">
                        <div class="com">广州先可思科技有限公司</div>
                        <span class="person">陈蔡姐</span>
                   </div>
                   <div class=fr>
                        <span>刚刚</span>
                        <i><img src="../../images/information-list/1@3x.png" /></i>
                   </div>
               </div>
           </div>
           <div class="content-list">
               <div>
                   <span class="icon fl clear-float"">
                        <img src="../../images/information-list/h3@3x.png" />
                   </span>
                   <div class="text fl clear-float">
                        <div class="com">广州先可思科技有限公司</div>
                        <span class="person">蓝经理</span>
                   </div>
                   <div class=fr>
                        <span>刚刚</span>
                        <i><img src="../../images/information-list/2@3x.png" /></i>
                   </div>
               </div>
           </div>
       </div>


       <div class="bottom-nav">
           <ul>
             <li class="fl">
                 <a href="../../index.html">
                     <img src="../../images/common/a1@2x.png" alt="">
                 </a>
                 <h6>首页</h6>
             </li>
             <li class="fl">
                 <a href="./information-list.html">
                     <img src="../../images/common/b2@2x.png" alt="">
                 </a>
                 <h6 class="avtive-color">消息</h6>
             </li>
             <li class="fl">
                 <a href="../recruit/recruit.html">
                     <img src="../../images/common/a3@2x.png" alt="">
                 </a>
                 <h6>附近</h6>
             </li>
             <li class="fl">
                 <a href="../resume/resume.html">
                     <img src="../../images/common/a4@2x.png" alt="">
                 </a>
                 <h6>简历</h6>
             </li>
             <li class="fl">
                 <a href="../user/user.html">
                     <img src="../../images/common/a5@2x.png" alt=""> 
                 </a>
                 <h6>我的</h6>
             </li>
         </ul>
       </div>
   </div>
	
</body>
</script>
</html>
