<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>user</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../../css/reset.css" />
	<link rel="stylesheet" href="user.css" />
</head>
<body>
  <div class="index">
     <div class="head">
         <div class="set">
             <a href="">
                <img  class="fr clear-float" src="../../images/user/f1@3x.png" alt="">
             </a>
         </div>
         <div class="head-img">
             <img src="../../images/user/f2@3x.png" alt="">
             <h3>至尊宝</h3>
         </div>  
     </div>

     <div class="info clear-float">
          <ul>
              <li class="fl clear-float">
                  <a href="">
                      <img src="../../images/user/e4@3x.png" alt="">
                  </a>
                  <h4>实名认证</h4>
              </li>
              <li class="fl clear-float">
                  <a href="">
                      <img src="../../images/user/e5@3x.png" alt="">
                  </a>
                  <h4>手机认证</h4>
               </li>
              <li class="fl clear-float">
                  <a href="">
                      <img src="../../images/user/f6@3x.png" alt="">
                  </a>
                  <h4>关注的企业</h4>
               </li>
              <li class="fl clear-float">
                  <a href="">
                      <img src="../../images/user/f7@3x.png" alt="">
                  </a>
                  <h4>OFFER</h4>
               </li>
          </ul>
     </div>

     <div class="about">
         <div class="list">
             <i></i>
             <h4 class="f-normal">投递记录</h4>
              <span class="next fr">
                  <img src="../../images/user/f11@3x.png" alt="">
              </span>
         </div>
         <div class="list">
             <i></i>
             <h4 class="f-normal">联系客服</h4>
              <span class="next fr">
                  <img src="../../images/user/f11@3x.png" alt="">
              </span>
         </div>
         <div class="list">
             <i></i>
             <h4 class="f-normal">意见反馈</h4>
              <span class="next fr">
                  <img src="../../images/user/f11@3x.png" alt="">
              </span>
         </div>
         <div class="list">
             <i></i>
             <h4 class="f-normal">版本更新</h4>
              <span class="next fr">
                  <img src="../../images/user/f11@3x.png" alt="">
              </span>
         </div>
         <div class="log-out">
              <div>退出登录</div>
         </div>
     </div>
<!-- 底部导航部分 -->
     <div class="bottom-nav">
         <ul>
             <li class="fl">
                 <a href="../../index.html">
                     <img src="../../images/common/a1@2x.png" alt="">
                 </a>
                 <h6>首页</h6>
             </li>
             <li class="fl">
                 <a href="../information-list/information-list.html">
                     <img src="../../images/common/a2@2x.png" alt="">
                 </a>
                 <h6>消息</h6>
             </li>
             <li class="fl">
                 <a href="../recruit/recruit.html">
                     <img src="../../images/common/a3@2x.png" alt="">
                 </a>
                 <h6>附近</h6>
             </li>
             <li class="fl">
                 <a href="../resume/resume.html">
                     <img src="../../images/common/a4@2x.png" alt="">
                 </a>
                 <h6>简历</h6>
             </li>
             <li class="fl">
                 <a href=".//user.html">
                     <img src="../../images/common/b5@2x.png" alt=""> 
                 </a>
                 <h6 class="avtive-color">我的</h6>
             </li>
         </ul>
     </div>
  </div>
	
</body>
</script>
</html>
