<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../../css/reset.css" />
	<link rel="stylesheet" href="com-information.css" />
</head>
<body>
    <div class="comy">
        <div class="head clear-float">
            <span class="l fl">
                <a href="">
                    <img src="../../images/commpany-information/e1@3x.png" />
                </a>
            </span>
            <h3 class="fl f-normal">职位详情</h4>
            <span class="r fr">
                    <ul>
                        <li class="fl"><i></i></li>
                        <li class="fl"><i></i></li>
                        <li class="fl"><i></i></li>
                    </ul>  
            </span>
        </div>


        <div class="content">
             <div class="content-head first">
                  <div class="head-first">
                     <h4 class="f-normal">UI设计师</h4>
                     <ul class="clear-float">
                     	<li class="fl"><span class="icon1"></span>广州</li>
                     	<li class="fl"><span class="icon2"></span>本科</li>
                     	<li class="fl"><span class="icon3"></span>2人</li>
                     	<li class="fl"><span class="icon4"></span>0.8万-1万/月</li>
                     </ul>
                  </div>
             </div>
             <div class="content-list">
                  <div class="content-childlist">
                      <i></i>
                      <h4>职位描述</h4>
                      <div>
                         <p>1、根据产品需求，对产品的整体美术风格、交互设计、界面结构、操作流程等做出设计；</p>
                         <p>2、负责项目中各种交互界面、图标、LOGO、按钮等相关元素的设计与制作；</p>
                         <p>3、能积极与开发沟通，推进界面及交互设计的最终实现。</p>
                      </div>
                 </div>
                  
             </div>
             <div class="content-list">
                  <div class="content-childlist">
                      <i></i>
                      <h4>职位要求</h4>
                      <div>
                         <p>1、负责软件界面的美术设计、创意工作和制作工作。</p>
                         <p>2、对页面进行优化，使用户操作更趋于人性化。</p>
                         <p>3、根据各种相关软件的用户群，提出构思新颖、有高度吸引力的创意设计。</p>
                      </div>
                 </div>  
             </div>
             <div class="content-list last">
                  <div class="content-childlist">
                      <i></i>
                      <h4>公司介绍</h4>
                      <div>
                         <p>&nbsp;&nbsp;&nbsp;&nbsp;广州先可思网络科技有限公司是是一家专注于互联网产品开发与服务的综合型服务机构，公司总部位于广州市天河区，聚集了大量互联网行业精英，技术实力雄厚,项目经验丰富,成功案例包括微商城、APP、微信、商城平台、O2O平台、品牌网站、各类商城平台、互联网运营、动漫设计等。    </p>
                      </div>
                 </div>  
             </div>

        </div>



        <div class="bottom clear-float">
             <ul>
             	<li class="info fl"></li>
             	<li class="phone fl"></li>
             	<li class="sure fl">
                    <h4>预约面试</h4>
             	</li>
             </ul>
        </div>
    </div>
</body>
</script>
</html>
